<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Excel API Auto Test Suite" verbose="1" parallel="none">

    <!-- 组装测试类 -->
    <test name="Excel API Test Set">
        <classes>
            <class name="com.example.autoapi.tests.OrderApiTest"/>
        </classes>
    </test>
</suite>
